################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SelfHelpContent/v15/.suo
/.vs/ProjectSettings.json
/.vs
/.vs
/.gitignore
/.gitignore
