<properties
	pageTitle="Partner Center Vetting - business verification"
	description="Partner Center Vetting business verification"
	authors="lucyWu-cn"
	ms.author="v-luwu"
	selfHelpType="problemScopingQuestions"
	supportTopicIds="32728294"
	productPesIds="17000"
	cloudEnvironments="public, fairfax, usnat, ussec"
	schemaVersion="1"
	articleId="173b4382-289f-476d-8232-f9ac0c9855b1"
	clientIds="partnercenter"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>
# Partner Center Vetting - business verification 
---
{
    "resourceRequired": true,
    "subscriptionRequired": true,
    "title": "Partner Center Vetting business verification",
    "fileAttachmentHint": "Please attach a screenshot of the issue or error you are having",
    "formElements": [
        {
            "id": "problem_description",
            "order": 1,
            "controlType": "multilinetextbox",
            "displayLabel": "Details. Please login to Partner Center using your AAD credentials. Using your MSA may result in significantly longer processing times.",
            "watermarkText": "Please provide additional information about your issue",
            "required": true,
            "useAsAdditionalDetails": true
        },
        {
            "id": "problem_start_time",
            "order": 2,
            "controlType": "datetimepicker",
            "displayLabel": "Start Time",
            "watermarkText": "When did your issue begin?",
            "required": true
        }
    ],
    "$schema": "SelfHelpContent"
}
---
