<properties
	pageTitle="Partner Center account employment verification"
	description="Partner Center account employment verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_employment_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32728295" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17000"
	cloudEnvironments="public, fairfax, usnat, ussec"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account employment verification

## **Recommended Steps**
- If your employee verification is rejected, verify that the email address of the primary contact is in the same domain as the Company domain name in the [Legal Profile](https://partner.microsoft.com/dashboard/account/v3/organization/legalinfo#mpn).
- If the information is incorrect, your company Global Admin can update the primary contact email address to be the same as the tenant domain name or provide documentation confirming the contact's email domain is under the ownership of the company.
- If the information is correct and still the verification is rejected you can upload employment verification documentation by clicking “Provide issue details” below to create a support ticket.
- Examples of Employment verification documentation:
  - Domain registration
  - Invoice
- List of supported file types and max. file size:
  - screenshots (only from a source such as government agency)
  - .pdf format
  - Attachments larger than 8MB cannot be received by our system. Please advise if you are unable to provide smaller attachments.
- Documents submitted must have been issued **within the previous 12 months**.
 
## **Recommended Documents**

* [Verify your account information](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [How to verify and update profile information](https://docs.microsoft.com/partner-center/update-your-partner-profile)
