<properties
	pageTitle="Partner Center account business verification"
	description="Partner Center account business verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_business_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32728294" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17000"
	cloudEnvironments="public, fairfax, usnat, ussec"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account business verification

## **Recommended Steps**
- If your business verification is rejected, confirm that the company name and address in your [Legal business profile](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile) are free of spelling errors and abbreviations and match your formal company business registration records exactly. If the information is incorrect, your company Global Admin can update the details.
- If the information is correct and still the verification is rejected, the primary contact (normally your Global or Account admin) will be asked to provide official documentation from the company's home country or municipality confirming that the company is authorized to do business under that entity name and is located at the enrollment address. You can upload business verification documentation by clicking "Provide issue details" below to create a support ticket.
- Examples of official documentation for business verification:
  - Articles of incorporation, memorandum of association, or any similar company formation document
  - Securities and Exchange Commission Form 10-K, or equivalent filing
  - Annual report
  - A stock ledger
  - Bank account related document
  - Tax-related document
  - The partnership agreement and registration documents with the names of partners
  - Sole proprietorship registration documents, which indicate the ownership of the entity
  - The franchise purchase agreement
  - Purchase orders
  - Invoices
  - Bills of lading
  - Contract
- List of supported file types and max. file size:
  - Screenshots (only from a source such as government agency)
  - .pdf format
  - Attachments larger than 8MB cannot be received by our system. Please advise if you are unable to provide smaller attachments.
- Documents submitted must have been issued **within the previous 12 months**.
 
## **Recommended Documents**

* [Verify your account information](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [How to verify and update profile information](https://docs.microsoft.com/partner-center/update-your-partner-profile)
