<properties
	pageTitle="Partner Center account employment verification"
	description="Partner Center account employment verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_employment_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32728295" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17000"
	cloudEnvironments="public"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account employment verification

## **Recommended Steps**
- Employment verification confirms the primary contact is an employee of the enrolling company by virtue of having an active email address on an email domain owned by the company
- If verification is delayed or pending by more than 3 days after enrollment, you can create a support ticket by clicking on Next step section
- If your employment verification is rejected, verify that you have provided the correct Company and email information in your profile. If the information is incorrect, your company Global Admin can visit the profile page ad update the information which will re-initiate the verification process.
- If the information is correct and still the verification is rejected, you need to upload verification documents be clicking this link:
[Upload verification documents](https://partner.microsoft.com/dashboard/support/servicerequests/create?stage=3&topicid=21655de7-7dbb-4927-33a2-f60f45feadf3)
 
## **Recommended Documents**

* [Verify your account information](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [How to verify and update profile information](https://docs.microsoft.com/partner-center/update-your-partner-profile)
