<properties
	pageTitle="Partner Center account verification"
	description="Partner Center account verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32692611,32728296" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="15960,17000"
	cloudEnvironments="public"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account verification

## **Recommended Steps**
For information on how to fix [verification](https://docs.microsoft.com/partner-center/verification-responses) failures:
- Verify and update company’s registered legal business name. [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)
- Verify and update email using official email address. [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)
 
## **Recommended Documents**

* [What is verified and how to respond](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [Global admin and domain ownership](https://docs.microsoft.com/partner-center/become-global-admin)
* [Verify your domain ownership](https://docs.microsoft.com/partner-center/become-global-admin#verify-your-domain-ownership-1)
