<properties
	pageTitle="Partner Center account verification"
	description="Partner Center account verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32728296" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17000"
	cloudEnvironments="public, fairfax, usnat, ussec"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account verification

## **Recommended Steps**
- When you enroll for a new program in Partner Center, Microsoft verifies the account enrollment information you have provided, such as your company name, company address, and primary contact details. During this process, Microsoft may send email to your primary contact to inform them of the status and request additional verification documentation. To ensure that you receive the email, be sure to flag email from Microsoft.com as a **safe** domain, and check Junk email folders.
- Verification normally takes up to 3 business days but in some cases it may take weeks. Please wait for at least 3 days before raising a support ticket.
- If you don't receive the email ownership verification email message within one business day, you can request to resend using the links below and following the appropriate instructions:
   - For [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile) accounts
   - For [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) accounts
   - For [Commercial marketplace](https://partner.microsoft.com/dashboard/account/management)accounts
- For any other verification issues, you can create a support ticket by clicking on Next step section
- If the problem is related to employment verification or business verification, you can search for the topic in _Tell us about issue section_
 
## **Recommended Documents**

* [Verify your account information](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [How to verify and update profile information](https://docs.microsoft.com/partner-center/update-your-partner-profile)
