<properties
	pageTitle="Partner Center account verification"
	description="Partner Center account verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32692611,32728296" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="15960,17000"
	cloudEnvironments="public"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account verification

## **Recommended Steps**
For information on how to fix legal business name or email address:

- Verify and update company’s registered legal business name: [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)
- Verify and update email using official email address: [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)

For information on how to fix [employment verification](https://docs.microsoft.com/partner-center/verification-responses) or [Business verification](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond) failures:

- Click here to [Upload verification documents](https://partner.microsoft.com/dashboard/support/servicerequests/create?stage=3&topicid=21655de7-7dbb-4927-33a2-f60f45feadf3)
- If issue persists, please [contact support](https://partner.microsoft.com/en-US/dashboard/support/servicerequests/create?stage=3&topicid=c34a5c81-a111-476d-11a4-81c808c37a6b)
 
## **Recommended Documents**

* [What is verified and how to respond](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [Global admin and domain ownership](https://docs.microsoft.com/partner-center/become-global-admin)
* [Verify your domain ownership](https://docs.microsoft.com/partner-center/become-global-admin#verify-your-domain-ownership-1)
