<properties
	pageTitle="Partner Center account business verification"
	description="Partner Center account business verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="brentserbus"
	ms.author="brserbus"
	displayOrder=""
	articleId="partnercenter_account_business_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32728294" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17000"
	cloudEnvironments="public"
	ownershipId="PartnerCenter_Accounts_Onboarding_Access"
/>

# Partner Center account business verification

## **Recommended Steps**
For information on how to fix [employment verification](https://docs.microsoft.com/partner-center/verification-responses) failures:
- Verify and update company’s registered legal business name. [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)
- Verify and update email using official email address. [CSP](https://partner.microsoft.com/pcv/accountsettings/partnerprofile) or [MPN](https://partner.microsoft.com/pcv/accountsettings/connectedpartnerprofile)
- Click here to [Upload business verification documents](https://partner.microsoft.com/dashboard/support/servicerequests/create?stage=2&topicid=21655de7-7dbb-4927-33a2-f60f45feadf3)
 
## **Recommended Documents**

* [What is verified and how to respond](https://docs.microsoft.com/partner-center/verification-responses#what-is-verified-and-how-to-respond)
* [Global admin and domain ownership](https://docs.microsoft.com/partner-center/become-global-admin)
* [Verify your domain ownership](https://docs.microsoft.com/partner-center/become-global-admin#verify-your-domain-ownership-1)