<properties
	pageTitle="Ingestion Microsoft 365 App Compliance program Publisher Verification"
	description="Ingestion Microsoft 365 App Compliance program Publisher Verification"
	infoBubbleText=""
	service="partnercenter"
	resource="csp"
	authors="cathy-cn"
	ms.author="v-cathu"
	displayOrder=""
	articleId="partnercenter_ingestion_microsoft_365_app_compliance_program_publisher_verification"
	diagnosticScenario=""
	selfHelpType="generic"
	supportTopicIds="32779869" 
	clientIds='partnercenter'
	resourceTags="csp"
	productPesIds="17006"
	cloudEnvironments="public, fairfax, usnat, ussec"
	ownershipId="PartnerCenter_Ingestion"
/>

# Partner Center Ingestion - Microsoft 365 App Compliance program - Publisher Verification
 
## **Recommended Documents**

* [Troubleshoot publisher verification](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)
* [Requirements for publisher verification](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview#requirements)
* [Mark your app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified)
* [Publisher verification](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview)

